*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans SC', sans-serif;
}
i {
  color: rgb(134,143,143);
}
h1,h2{
  text-align: center;
  color : rgb(0, 0, 0);
}
section h2,h4{
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
}
section h1{
  color: rgb(255, 255, 255);
}
section h3{
  color: rgb(255, 255, 255);
}
body{
  /*background-color: rgb(25, 25, 25);*/
}
section{
  border: 1px solid rgb(40,44,43);
  background-color: rgb(40,40,43);
  padding-bottom: 15px;
  padding-top: 15px;
}
header{
  background-color: rgb(77, 77, 80);
}
footer{
  background-color: rgb(77, 77, 80);
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
}
/* Home */
#home{
  padding-top: 10%;
  padding-left: 60%;
  height: 660px;
  background: url('../img/codebody.jpg') no-repeat center fixed;
  background-size: cover;
}
/* Profil */
#profile{
  padding-top: 30px;
}
.profile i{
  color: white;
}
#profiles img{
  border-radius: 150px 150px 150px 150px;
  box-shadow: 2px 2px 1px 2px #595959;
}
/* Experience*/
#experience li{
  list-style: none;
  color: rgb(134, 143, 143);
}
.contact a{
  margin-left: 15px;
}
.contact a:hover{
  opacity: 0.6;
}


/* Skill */
#skill{
  padding-bottom: 5%;
}
#skill h4{
  margin-top: 20px;
}
.progress {
  width: 60%;
  height:35%;
}
/* Projects */

#projects img{
  border: 1px solid black;
}
.overlaya{
  color:rgb(134, 143, 143);
}
/* Hobbies */
#hobbies{
  margin-bottom: 2%;
}
.imagehobbies {
  height: 100%;
  border-radius: 150px 150px 150px 150px;
}
#hobbies img {
  display: block;
}
#centerhobbies{
  margin-left: 5%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 67%;
  margin-left: 2%;
  padding-top: 6%;
  opacity: 0;
  font-size: 200%;
  font-weight: bold;
  transition: .5s ease;
  background-color: rgb(102,85,85);
  border-radius: 150px 150px 150px 150px;
}

.col-md-3:hover .overlay {
  opacity:0.9;
  border: 2px solid rgb(153,153,0);
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* Menu */
#nav{
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
#nav a{
  display: inline-block;
  color: #eee;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
}
#nav li{
  list-style: none;
  display: inline-block;
  margin: auto;
  border-right: 1px solid rgb(0,0,0);
  padding-left: 5px;
  padding-right: 5px;
}
#nav li:last-child {
    border-right: none;
}
#nav a:hover{
  background: rgb(85,85,85) ;
  text-decoration: underline ;
  color: white;
}

/* Course */
#course{
  color: white;
}
#course img{
  border-radius: 40px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 1px #595959;
}
#course img:hover{
  opacity: 0.6;
}
#course li{
  list-style: none;
}
#course button{
  margin-top: 5%;
}


/* TEST */
.progress-bar-perso{
  height:100%;
  font-size: 150%;
  background-color: rgb(115,115,38);
  color:black;
  padding-top: 1%;
}
