/**{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans SC', sans-serif;
}
i {
  color: rgb(134,143,143);
}
h1,h2{
  text-align: center;
  color : rgb(0, 0, 0);
}
section h2,h4{
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
}
section h1{
  color: rgb(255, 255, 255);
}
section h3{
  color: rgb(255, 255, 255);
}
body{
  background-color: rgb(25, 25, 25);
}
section{
  border: 1px solid rgb(40,44,43);
  background-color: rgb(40,40,43);
  padding-bottom: 15px;
  padding-top: 15px;
}
header{
  background-color: rgb(77, 77, 80);
}
footer{
  background: linear-gradient(to bottom,  rgb(125,126,125) 0%,rgb(14,14,14) 100%);
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
}
 Home 
#home{
  padding-top: 10%;
  padding-left: 60%;
  height: 660px;
  background: url('../img/codebody.jpg') no-repeat center fixed;
  background-size: cover;
}
 Profil 
#profile{
  padding-top: 30px;
}
.profile i{
  color: white;
}
#profiles img{
  border-radius: 150px 150px 150px 150px;
  box-shadow: 2px 2px 1px 2px #595959;
}
 Experience
#experience li{
  list-style: none;
  color: rgb(134, 143, 143);
}
.contact a{
  margin-left: 15px;
}
.contact a:hover{
  opacity: 0.6;
}


 Skill 
#skill{
  padding-bottom: 5%;
}
#skill h4{
  margin-top: 20px;
}
.progress {
  width: 60%;
  height:35%;
}
 Projects 

#projects img{
  border: 1px solid black;
}
.overlaya{
  color:rgb(134, 143, 143);
}
 Hobbies 
#hobbies{
  margin-bottom: 2%;
}
.imagehobbies {
  height: 200px;
  border-radius: 150px 150px 150px 150px;
}
#hobbies img {
  display: block;
}
#centerhobbies{
  margin-left: 5%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 71.5%;
  margin-left: 2%;
  padding-top: 6%;
  opacity: 0;
  font-size: 200%;
  font-weight: bold;
  transition: .5s ease;
  background-color: rgb(102,85,85);
  border-radius: 150px 150px 150px 150px;
}

.col-md-3:hover .overlay {
  opacity:0.9;
  border: 2px solid rgb(153,153,0);
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
 Menu 
#nav{
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;

}
#nav a{
  display: inline-block;
  color: #eee;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;

}
#nav li{
  list-style: none;
  display: inline-block;
  margin: auto;
  border-right: 1px solid rgb(0,0,0);
  padding-left: 5px;
  padding-right: 5px;
}
#nav li:last-child {
    border-right: none;
}
#nav a:hover{
  background: rgb(85,85,85) ;
  text-decoration: underline ;
  color: white;
}

 Course 
#course{
  color: white;
}
#course img{
  border-radius: 40px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 1px #595959;
}
#course img:hover{
  opacity: 0.6;
}
#course li{
  list-style: none;
}
#course button{
  margin-top: 5%;
}


 TEST 
.progress-bar-perso{
  height:100%;
  font-size: 150%;
  background-color: rgb(115,115,38);
  color:black;
  padding-top: 1%;
}*/
 /* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
}

.bgimg {
    /* Background image */
    background-image: url('/w3images/forestbridge.jpg');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the <hr> element */
hr {
    margin: auto;
    width: 40%;
} 